html {
    scroll-behavior: smooth;
  }
  
  *, ::before, ::after{
    box-sizing: border-box;
  }
  
  body {
    margin:0;
    font-family: sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    color: #E3E4EE;
  }
  
  nav {
    background-color: #E3E4EE;
    color: #786FA4;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav li {
    padding: 0 20px;
    text-decoration: none;
  }
  
  nav li a {
    text-decoration: none;
  }
  
  nav li a:hover {
    text-decoration: none;
    color: black;
  }
  
  main {
    background: linear-gradient(
      #6621E5 0%,
      #786FA4 50%,
      #6621E5 100%
    );
    display: block;
  }
  
  #welcome-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #welcome-section h1 {
    font-size: 2rem;
    text-align: center;
    padding-right: 20px;
  }
  
  #welcome-section #title-container{
    font-size: 1.33rem;
  }
  
  #projects {
    height: 60vh;
    width: 100vw;
    display: block;
    text-align: center;
    padding-top: 20vh;
  }
  
  #projects h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
  }
  
  #project-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .project-tile {
    border: solid 1px #E3E4EE;
    padding: 30px;
    margin: 20px;
    box-shadow: 5px 5px 10px #E3E4EE;
    border-radius: 5px;
    text-decoration: none;
    color: #E3E4EE;
  }
  
  .project-tile:visited {
    color: #E3E4EE;
  }
  
  .project-tile:hover {
    text-decoration: none;
    color: black;
    padding: 25px;
    margin: 25px;
  }
  
  #socials {
    height: 50vh;
    width: 100vw;
    display: block;
    text-align: center;
    padding-top: 20vh;
  }
  
  
  #socials ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  
  #socials li {
    padding: 0 20px;
    text-decoration: none;
  }
  
  #socials h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
    font-style: italic;
  }
  
  #profiles-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-link {
    border: solid 1px #E3E4EE;
    padding: 10px;
    margin: 2.5px;
    box-shadow: 5px 5px 10px #E3E4EE;
    border-radius: 5px;
    text-decoration: none;
    color: #E3E4EE;
  }
  
  .profile-link:visited {
    color: #E3E4EE;
  }
  
  .profile-link:hover {
    text-decoration: none;
    color: black;
    padding: 7px;
    margin: 5.5px;
  }
  
  footer {
    background-color: #E3E4EE;
    color: #786FA4;
    text-align: center;
    padding: 10px;
  }
  
  @media screen and (max-width: 650px) {
    #welcome-section {
      display: block;
      padding-top: 40vh;
    }
    #title-container {
      text-align: center;
    }
    #project-container {
      display: block;
    }
    .project-tile {
      border: solid 1px #E3E4EE;
      box-shadow: 5px 5px 10px #E3E4EE;
      border-radius: 5px;
      text-decoration: none;
      color: #E3E4EE;
      display: block;
    }
    #profiles-container {
      display: block;
    }
  }