.floating-container {
    display: flex;
}

.floating {
    flex: 1;
}

.floating:first-child {
    margin-right: 20px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-subtitle {
    font-size: 1.5rem;
}

.about-container:not(:last-child) {
    border-bottom: 3px dotted var(--theme-color);
}